<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Roboto", sans-serif
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <!-- <link href="styles.css" rel="stylesheet"> -->
</head>

<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="https://imagizer.imageshack.com/img922/2070/z2Vvz6.jpg" style="width:100%"
                            alt="Avatar">
                        <div class="w3-display w3-container">
                            <h2 style="color:#009688!important"><span>Ramón Serrano</span></h2>
                        </div>
                    </div><br>
                    <div class="w3-container">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>FullStack
                            Developer & Data Scientist</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Buenos Aires, AR
                        </p>
                        <p><i
                                class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ramonserrano76@gmail.com
                        </p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1125103169</p>
                        <br>

                        <p class="w3-large"><b><i
                                    class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                        <p>HTML5 y CSS 3</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%
                            </div>
                        </div>
                        <br>
                        <p>JavaScript</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                                <div class="w3-center w3-text-white">80%</div>
                            </div>
                        </div>
                        <br>
                        <p>SQL y bases de datos</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
                        </div>
                        <br>
                        <p>Phyton</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
                        </div>
                        <br>
                        <p class="w3-large w3-text-theme"><b><i
                                    class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                        <p>English</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:65%"></div>
                        </div>
                        <br>
                        <p>Spanish</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                        </div>
                        <br>
                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience
                    </h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>FullStack Developer / agenciadeaprendizaje.bue.edu.ar/codo-a-codo/</b>
                        </h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2021 -
                            <span class="w3-tag w3-teal w3-round">Current</span>
                        </h6>
                        <p> ● Desarrollar la arquitectura de la interfaz del sitio Web.
                            <br>
                            ● Diseñar interfaces de usuario y elementos del Front-End.
                            <br>
                            ● Desarrolar aplicaciones Back-End.
                            <br>
                            ● Asegurar el funcionamiento optimo de la infraestructura web y su seguridad.
                            <br>
                            ● Mantenimiento de o sitios web e interfaces de usuario.
                            <br>
                            ● Asegurar la velocidad y escalabilidad del sitio web.
                        </p>
                        <br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Maintenence Supevisor/ www.sim.com.ar</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2022 - Apr
                            2022
                        </h6>
                        <p> ● Supervisar la operación de las cuadrillas de mantenimiento en las distintas sucursales
                            bancarias, las cuales realizan tareas de mantenimiento correctivo y preventivo.
                            <br>
                            ● Planeamiento y coordinación de las actividades diarias, compra de materiales necesarios
                            para las operaciones.
                            <br>
                            ● Gestión de Recursos Humanos y administración de los distintos requerimientos de los
                            trabajadores bajo mi cargo.
                            <br>
                            ● Gestionar los recursos disponibles de manera eficiente y hacer
                            cumplir las normas de prevención de Riesgos, Seguridad y Salud en el trabajo.
                            <br>
                            ● Generar informes diarios y reportes de incidencias periódicos de las actividades
                            realizadas, stocks de producto e insumos.
                        </p>
                        <br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Process Analyst Sr./ Karpol S.A.</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2019 - Jan
                            2022
                        </h6>
                        <p> ● Supervisión de la línea de producción de colchones, realizando ajustes y mejoras puntuales
                            a los procesos, cumpliendo con los procedimientos determinados por el dpto. de calidad.
                            <br>
                            ● Coordinar diariamente con el dpto. de ventas con la finalidad de alinear las metas de
                            producción con la demanda de productos.
                            <br>
                            ● Supervisar la operación de las distintas maquinas involucradas en el proceso así como las
                            respectivas paradas de mantenimiento correctivo y preventivo.
                            <br>
                            ● Planeamiento y coordinación en conjunto con el dpto. de compras para procura de los
                            recursos materiales necesarios para la producción.
                            <br>
                            ● Gestión ante el departamento de Recursos Humanos y administración de los distintos
                            requerimientos de los trabajadores del área bajo mi cargo.
                            <br>
                            ● Gestionar los recursos disponibles de manera eficiente y al mismo tiempo velar y hacer
                            cumplir lasnormas de prevención de Riesgos, Seguridad y Salud en el trabajo.
                            <br>
                            ● Generar tableros de reportes e informes periódicos con la data actualizada de producción,
                            stocks de producto e insumos y la correspondiente generación de métricas y Kpi de cada
                            proceso.
                        </p>
                        <br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Reservoir Engineer Senior / www.pdvsa.com</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2009 - Apr
                            2018
                        </h6>
                        <p>En el Área de EOR:
                            <br>
                            ● Planeamiento, seguimiento y reporte de planes de explotación con métodos de recuperación
                            secundaria y de recuperación mejorada de hidrocarburos, delineación de estrategias a través
                            de captura de datos, realizando análisis y validación de la información de los pozos para
                            maximizar el potencial de generación de crudo e incrementar el recobro hasta cerca del 12%,
                            mientras que se aseguró y se cumplió con las metas de producción en el corto y mediano
                            plazo, siempre en cumplimiento y concordancia con los estándares de calidad, seguridad y
                            medio ambiente.
                            <br>
                            ● Implementar procesos térmicos como Inyección Cíclica de Vapor, Inyección continua de vapor
                            Horizontal alternating steam drive (HASD), Steam Assisted Gravity Drainage (SAGD) y Cables
                            calentadores eléctricos de fondo de pozo en pozos horizontales.
                            <br>
                            ● Participación en la puesta en marcha y desarrollo de proyectos EOR localizados en la faja
                            petrolífera del Orinoco en los cammpos Morichal, Jobo, Pilón, Cabrutica, Junín Sur y San
                            Diego Norte, con procesos de inyección cíclica y continua de vapor como parte del equipo de
                            simulación de yacimientos del depto. de Recuperación Mejorada de Hidrocarburos de la Gcia.
                            de Estudios integrados de Yacimientos Faja.
                            <br>
                            En el área de Estudios de Reservorios:
                            <br>
                            ● Desarrollo de planes de explotación, perforación de nuevos pozos., trabajos de workover y
                            reacondicionamiento de pozos, recolección y manejo de fluidos no deseados y su tratamiento.
                            <br>
                            ● Análisis económico y estimación del potencial de producción del reservorio y sus activos.
                            <br>
                            ● Validación y análisis de la data de producción y presiones del Reservorio mediante
                            análisis estadístico para el entendimiento del comportamiento futuro.
                            <br>
                            ● Diseño de esquemas y estrategias de explotación eficientes.
                            <br>
                            ● Análisis de datos geográficos y geológicos para recomendación de nuevas localizaciones y
                            acciones para mejorar la producción.
                            <br>
                            ● Monitoreo de presiones, tasas de producción, planes y procesos para optimizar la
                            producción.
                            <br>
                            ● Participación en todas las etapas de la caracterización y modelaje dinámico de reservorios
                            para finalmente construir el modelo de simulación de Reservorio.
                        </p><br>
                    </div>
                </div>

                <div class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education
                    </h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>FullStack Development - Codo a Codo FullStack Phyton Dev & Argentina
                                Programming FullStack Dev</b>
                        </h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2021 - Forever
                        </h6>
                        <p>Freelance - Remote </p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Heavy Oil Production</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2017
                        </h6>
                        <p>Master Degree</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Petroleum Engineer</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1999 - 2005
                        </h6>
                        <p>Bachelor Degree</p><br>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">
        <p>Find me on social media.</p>
        <i class="fa  w3-hover-opacity"><a href="https://github.com/ramonserrano76" target="_blank"><i
                    class="fab fa-github fa-2x"></i></a></i>
        <i class="fa  w3-hover-opacity"><a href="https://www.linkedin.com/in/ramonserrano76/" target="_blank"><i
                    class="fab fa-linkedin fa-2x"></i></a></i>
        <p class="w3-hover-opacity"><a href="index.html">Go to Main Page<i class="w3-hover-opacity"></i></a>
        </p>
    </footer>

</body>


</html>
