<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre"><span style="color:white">Nueva Skill</span></label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" 
                        required>
                </div>
                <div class="form-group">
                    <label for="porcentaje"><span style="color:white">Porcentaje</span></label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" 
                        required>
                </div>
                <br>
                <button class="btn btn-secundary btn--color"><span style="color:white">Agregar Skill</span></button>
            </form>
        </div>
    </div>
</div>
