<div id="skills">
    <section id="skill" class="skill">
        <div class="skill__heading" style="opacity: 1; transform: translateX(0px)">
            <h2 class="skill_title">Skills</h2>
            <p class="skill__paragraph">Tools &amp; Technologies</p>
        </div>
        <div class="underline"></div>
        <ul class="list" style="opacity: 1; transform: translateX(0px)">
            <li class="list__item list--visible">
                <!-- <i   
                                                    class="fa-4x fa-java fab"></i> -->
                <img alt="list__item list--visible" src="https://cdn.iconscout.com/icon/free/png-64/java-59-1174952.png"
                    width="70">
                <span class="list__label"><span class="list__label  ">
                        <div class="circular-progress java"></div>
                    </span>
                </span>
            </li>
            <li class="list__item list--visible">
                <!-- <i    class="fa-4x fa-git fab"></i> -->
                <img alt="Skill Icon" src="https://cdn.iconscout.com/icon/free/png-64/git-17-1175218.png" width="60">
                <span class="list__label  ">
                    <div class="circular-progress git"></div>
                </span>
            </li>
            <li class="list__item list--visible">
                <!-- <i    class="fa-4x fa-github-alt fab"></i> -->
                <img src="https://1.bp.blogspot.com/-1mbBK1XVI1o/YU6ndDON6ZI/AAAAAAAAJ50/G3gEU09XgnMGxBVFefwmyZWN2ds3JoTSgCLcBGAsYHQ/s320/git.png"
                    width="64">
                <span class="list__label">
                    <div class="circular-progress github"></div>
                </span>
            </li>
            <li class="list__item list--visible">
                <!-- <i    class="fa-4x fa-css3-alt fab"></i> -->
                <img alt="list__item list--visible" src="https://cdn.iconscout.com/icon/free/png-64/css3-11-1175239.png"
                    width="60">

                <span class="list__label  ">
                    <div class="circular-progress css3"></div>
                </span>
            </li>
            <li class="list__item list--visible">
                <!-- <i    class="fa-4x fa-html5 fab">
                                                </i> -->
                <img alt="list__item list--visible"
                    src="https://cdn.iconscout.com/icon/free/png-64/html5-40-1175193.png" width="60">
                <div class="list__label">
                    <div class="circular-progress html5"></div>
                </div>
            </li>
            <li class="list__item list--visible">
                <!-- <i    class="fa-4x fa-angular fab"></i> -->
                <img alt="Skill Icon" src="https://cdn.iconscout.com/icon/free/png-64/angular-226066.png" width="60">
                <span class="list__label  "><span class="list__label  ">
                        <div class="circular-progress angular"></div>
                    </span>
                </span>
            </li>
            <li class="list__item list--visible">
                <!-- <i    class="fa-4x fa-node-js fab"></i> -->
                <!-- <img alt="Skill Icon"
                                                    src="https://cdn.iconscout.com/icon/free/png-64/node-js-1-1174935.png">
                                                <span    class="list__label  ">Node</span> -->
                <img alt="Skill Icon" src="https://cdn.iconscout.com/icon/free/png-64/react-3-1175109.png" width="60">
                <span class="list__label  ">
                    <div class="circular-progress react"></div>
                </span>

            </li>
            <li class="list__item list--visible">
                <!-- <i    class="fa-4x fa-database fas"></i> -->
                <img alt="Skill Icon" src="https://cdn.iconscout.com/icon/free/png-256/mysql-3521596-2945040.png"
                    width="96">
                <span class="list__label  ">
                    <div class="circular-progress mysql"></div>
                </span>

            </li>
            <li class="list__item list--visible">
                <!-- <i    class="fa-4x fa-database fas"></i> -->
                <img alt="Skill Icon" src="https://cdn.iconscout.com/icon/free/png-64/javascript-2752148-2284965.png"
                    width="60">
                <span class="list__label  ">
                    <div class="circular-progress javascript"></div>
                </span>

            </li>
            <li class="list__item list--visible">
                <!-- <i    class="fa-4x fa-bootstrap fab"></i> -->
                <img alt="list__item list--visible"
                    src="https://cdn.iconscout.com/icon/free/png-64/bootstrap-226077.png" width="60">
                <span class="list__label  ">
                    <div class="circular-progress bootstrap1"></div>
                </span>

            </li>
            <li class="list__item list--visible">
                <!-- <i    class="fa-4x fa-python fab"></i> -->
                <img alt="Skill Icon" src="https://cdn.iconscout.com/icon/free/png-64/python-2-226051.png" width="60">
                <span class="list__label">
                    <div class="circular-progress phyton"></div>
                </span>

            </li>

        </ul>
    </section>
</div>