<app-header></app-header>

<main>
    <div id="about">
        <section>
            <div></div>
            <div></div>
        </section>
        <div id="about" class="about">
            <div class="about__details">
                <h1 class="about__title">Hi, my name is <span class="rainbow rainbow_text_animated">R</span>amón <span
                        class="rainbow rainbow_text_animated">S</span>errano.</h1>
                <div class="cont__text"><span class="">I'm a </span><span class="type"><span><span>FullStack
                                Developer</span><span>Web
                                Designer</span><span class="">Freelancer</span><span class="">Petroleum
                                Engineer</span></span></span></div>
                <p class="about__paragraph">I'm Petroleum Engineer and an
                    enthusiast FullStack Dev & Programmer.</p><a href="archivo.pdf" target="_blank"><button
                        class="btn-primary btn--color">Curriculum</button></a>
            </div><img
                src="https://media-exp1.licdn.com/dms/image/D4D35AQE4iIQEhJJ2Bw/profile-framedphoto-shrink_200_200/0/1637670953686?e=2147483647&v=beta&t=dYKycM_0Oxrl384aTiHcLvcmH8AklZgjuApO9BzNWs4"
                alt="perfil" class="about__img">
        </div>

    </div>
    <div id="skills">
        <section id="skill" class="skill">
            <div class="skill__heading" style="opacity: 1; transform: translateX(0px)">
                <h2 class="skill_title">Skills</h2>
                <p class="skill__paragraph">Tools &amp; Technologies</p>
            </div>
            <div class="underline"></div>
            <ul class="list" style="opacity: 1; transform: translateX(0px)">
                <li class="list__item list--visible">
                    <!-- <i   
                                    class="fa-4x fa-java fab"></i> -->
                    <img alt="list__item list--visible"
                        src="https://community-app-cdn.topcoder.com/static-assets/images/c38a292489d21bbaa322248b2f95d164.svg">
                    <span class="list__label"><span class="list__label  ">
                            <div class="circular-progress java"></div>
                        </span>
                    </span>
                </li>
                <li class="list__item list--visible">
                    <!-- <i    class="fa-4x fa-git fab"></i> -->
                    <img alt="Skill Icon"
                        src="https://community-app-cdn.topcoder.com/static-assets/images/b592a465711bcdb93f87338011e87ca8.svg">
                    <span class="list__label  ">
                        <div class="circular-progress git"></div>
                    </span>
                </li>
                <li class="list__item list--visible">
                    <!-- <i    class="fa-4x fa-github-alt fab"></i> -->
                    <img src="https://1.bp.blogspot.com/-1mbBK1XVI1o/YU6ndDON6ZI/AAAAAAAAJ50/G3gEU09XgnMGxBVFefwmyZWN2ds3JoTSgCLcBGAsYHQ/s320/git.png"
                        width="64">
                    <span class="list__label">
                        <div class="circular-progress github"></div>
                    </span>
                </li>
                <li class="list__item list--visible">
                    <!-- <i    class="fa-4x fa-css3-alt fab"></i> -->
                    <img alt="list__item list--visible"
                        src="https://community-app-cdn.topcoder.com/static-assets/images/ded7b2cab122df8a9897760249b9c13d.svg">

                    <span class="list__label  ">
                        <div class="circular-progress css3"></div>
                    </span>
                </li>
                <li class="list__item list--visible">
                    <!-- <i    class="fa-4x fa-html5 fab">
                                </i> -->
                    <img alt="list__item list--visible"
                        src="https://community-app-cdn.topcoder.com/static-assets/images/477e09fc9869771e2d47900127127366.svg">
                    <div class="list__label">
                        <div class="circular-progress html5"></div>
                    </div>
                </li>
                <li class="list__item list--visible">
                    <!-- <i    class="fa-4x fa-angular fab"></i> -->
                    <img alt="Skill Icon" src="https://cdn.iconscout.com/icon/free/png-64/angular-3-226070.png">
                    <span class="list__label  "><span class="list__label  ">
                            <div class="circular-progress angular"></div>
                        </span>
                    </span>
                </li>
                <li class="list__item list--visible">
                    <!-- <i    class="fa-4x fa-node-js fab"></i> -->
                    <!-- <img alt="Skill Icon"
                                    src="https://cdn.iconscout.com/icon/free/png-64/node-js-1-1174935.png">
                                <span    class="list__label  ">Node</span> -->
                    <img alt="Skill Icon" src="https://cdn.iconscout.com/icon/free/png-64/react-1-282599.png">
                    <span class="list__label  ">
                        <div class="circular-progress react"></div>
                    </span>

                </li>
                <li class="list__item list--visible">
                    <!-- <i    class="fa-4x fa-database fas"></i> -->
                    <img alt="Skill Icon" src="https://cdn.iconscout.com/icon/free/png-256/mysql-3521596-2945040.png"
                        width="96">
                    <span class="list__label  ">
                        <div class="circular-progress mysql"></div>
                    </span>

                </li>
                <li class="list__item list--visible">
                    <!-- <i    class="fa-4x fa-database fas"></i> -->
                    <img alt="Skill Icon"
                        src="https://community-app-cdn.topcoder.com/static-assets/images/7f8996b175edc41b77cd3ca9c7aa05af.svg">
                    <span class="list__label  ">
                        <div class="circular-progress javascript"></div>
                    </span>

                </li>
                <li class="list__item list--visible">
                    <!-- <i    class="fa-4x fa-bootstrap fab"></i> -->
                    <img alt="list__item list--visible"
                        src="https://community-app-cdn.topcoder.com/static-assets/images/2be9a15739b0ee3335da7af3c46d96e1.svg">
                    <span class="list__label  ">
                        <div class="circular-progress bootstrap1"></div>
                    </span>

                </li>
                <li class="list__item list--visible">
                    <!-- <i    class="fa-4x fa-python fab"></i> -->
                    <img alt="Skill Icon"
                        src="https://community-app-cdn.topcoder.com/static-assets/images/2a0e32fcdfadc1261de3f7b46b4caa09.svg">
                    <span class="list__label">
                        <div class="circular-progress phyton"></div>
                    </span>

                </li>

            </ul>
        </section>
    </div>
    <div id="projects">
        <section id="projects" class="projects">
            <div class="projects__heading" style="opacity: 1; transform: translateX(0px);">
                <h2 class="projects__title">Projects</h2>
            </div>
            <div class="underline"></div>
            <div class="container">
                <div class="grid" style="opacity: 1; transform: translateX(0px)">
                    <figure class="photo photo--wrapper"><img alt="password_project" class="photo__img"
                            src="assets/img/password_project.png">
                        <div class="overlay">
                            <h4 class="overlay__title">Password Generator
                            </h4>
                            <p class="overlay__paragraph">Simple password
                                Generator</p>
                            <ul class="list">
                                <li class="list__item">
                                    <span class="list__tag">Tailwind</span>
                                </li>
                                <li class="list__item">
                                    <span class="list__tag">JavaScript</span>
                                </li>
                                <li class="list__item">
                                    <span class="list__tag">HTML5</span>
                                </li>
                                <li class="list__item">
                                    <span class="list__tag">CSS</span>
                                </li>

                            </ul>
                            <div class="overlay__icon"><a class="fab fa-github fa-4x"
                                    href="https://github.com/IvanDec0/Password_Generator"></a></div>
                        </div>
                    </figure>
                    <figure class="photo photo--wrapper"><img alt="python_project" class="photo__img"
                            src="assets/img/python_project.png">
                        <div class="overlay">
                            <h4 class="overlay__title">Python Exercises
                            </h4>
                            <p class="overlay__paragraph">Python
                                Exercises UNSAM Course</p>
                            <ul class="list">
                                <li class="list__item">
                                    <span class="list__tag">Python</span>
                                </li>
                                <li class="list__item">
                                    <span class="list__tag">Pandas</span>
                                </li>
                                <li class="list__item">
                                    <span class="list__tag">Numpy</span>
                                </li>

                            </ul>
                            <div class="overlay__icon"><a class="fab fa-github fa-4x"
                                    href="https://github.com/ramonserrano76"></a></div>
                        </div>
                    </figure>

                </div>
            </div>
        </section>
    </div>
    <div id="login" class=""></div>
</main>
<footer>
    <div id="contact">
        <footer id="contact" class="contact">
            <h2 class="contact__title" style="opacity: 1; transform: translateX(0px);">Contact me
            </h2><a href="mailto:ramonserrano76@gmail.com" class=""
                style="opacity: 1; transform: translateX(0px);"><button
                    class="btn-secondary btn--degrade   ">Contact</button></a>
            <ul class="list" style="opacity: 1; transform: translateX(0px);">
                <li class="nav--hightlighted nav__item nav list__item"><a href="https://github.com/ramonserrano76"
                        target="_blank" class="nav--hightlighted nav__item nav">
                        <!-- <i
                                           class="fab fa-github fa-3x   "></i> -->
                        <img src="https://1.bp.blogspot.com/-1mbBK1XVI1o/YU6ndDON6ZI/AAAAAAAAJ50/G3gEU09XgnMGxBVFefwmyZWN2ds3JoTSgCLcBGAsYHQ/s320/git.png"
                            width="48">
                    </a></li>
                <li class="nav--hightlighted nav__item nav list__item"><a
                        href="https://www.linkedin.com/in/ramonserrano76/" target="_blank"
                        class="nav--hightlighted nav__item nav">
                        <!-- <i   
                                        class="fab fa-linkedin fa-3x   "></i> -->
                        <img src="https://1.bp.blogspot.com/-HAZ1gyE3O4A/YU6l_ofp6_I/AAAAAAAAJ5o/srN8AMk0bwQIyOiXV-Y9i_ulgZHoH4SyACLcBGAsYHQ/s200/linkedin.png"
                            width="48">
                    </a></li>
            </ul>
            <p class="about__paragraph   ">© Copyright RS 2022</p>
        </footer>
    </div>
</footer>
<router-outlet></router-outlet>
<!--container-->
<script src="https://code.jquery.com/jquery-1.11.1.js" integrity="sha256-MCmDSoIMecFUw3f1LicZ/D/yonYAoHrgiep/3pCH9rw="
    crossorigin="anonymous"></script>
<script src="menu.js" type="module"></script>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>