<div id="contact">
    <footer id="contact" class="contact">
        <div>
            <iframe class="spotify" src="https://open.spotify.com/embed/playlist/0b9ZiiZoK6mkQRjXOSWkQa" frameBorder="0"
                allowfullscreen="" autoplay="allow"></iframe>
        </div>
        <div>
            <div>                
            </div><a href="mailto:ramonserrano76@gmail.com" class=""><button
                    class="btn-primary btn--degrade   ">Contact e-mail</button></a>
            <div class="c-information">
                <div class="links">
                    <a class="acerca_img" href="https://github.com/ramonserrano76" target="_blank"
                        rel="noopener noreferrer"></a>
                    <a class="acerca_img" href="https://www.linkedin.com/in/ramonserrano76/" target="_blank"
                        rel="noopener noreferrer"></a>
                </div>
            </div>            
        </div>
        <p class="about__paragraph">© Copyright Ramón Serrano 2022</p>
    </footer>
</div>