<div id="contact">
    <footer id="contact" class="contact">

        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="e2c6506e-f47b-4858-8e7b-0958e5803289"
            data-share-badge-host="https://www.credly.com"></div>
        <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        </div>

<div>
</div><a href="mailto:ramonserrano76@gmail.com" class=""><button class="btn-primary btn--degrade   ">Contact
        e-mail</button></a>
<div class="c-information">
    <div class="links">
        <a class="acerca_img" href="https://github.com/ramonserrano76" target="_blank" rel="noopener noreferrer"></a>
        <a class="acerca_img" href="https://www.linkedin.com/in/ramonserrano76/" target="_blank"
            rel="noopener noreferrer"></a>
    </div>
</div>
</div>
<p class="about__paragraph">© Copyright Ramón Serrano 2022</p>
</footer>
</div>