h1 {
  text-align: center;
  color: #111;
}

.skills-container {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.circular-progress {
  margin: auto;
  position: relative;
}

.circular-progress, .circular-progress:before, .circular-progress:after {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circular-progress:before, .circular-progress:after {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.circular-progress:before {
  padding: .5em;
  line-height: 70px;
  font-size: 1rem;
  font-weight: bold;
}

.circular-progress:after {
  font-size: .8rem;
  font-weight: normal;
  text-transform: unset;
  line-height: 115px;
}

.html5 {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ffc966), color-stop(50%, rgba(255, 201, 102, 0.3)));
  background: linear-gradient(0deg, #ffc966 50%, rgba(255, 201, 102, 0.3) 50%);
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

.html5:before, .html5:after {
  color: #ffc966;
}

.html5:before {
  background: #111 content-box;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  content: "10%";
}

.html5:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "Html 5";
  -webkit-transform: rotate(-18deg) scale(1.1);
          transform: rotate(-18deg) scale(1.1);
}

.css3 {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #9999ff), color-stop(50%, rgba(153, 153, 255, 0.3)));
  background: linear-gradient(0deg, #9999ff 50%, rgba(153, 153, 255, 0.3) 50%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.css3:before, .css3:after {
  color: #9999ff;
}

.css3:before {
  background: #111 content-box;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  content: "50%";
}

.css3:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "css 3";
  -webkit-transform: rotate(-90deg) scale(1.1);
          transform: rotate(-90deg) scale(1.1);
}

.javascript {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ffff99), color-stop(50%, rgba(255, 255, 153, 0.3)));
  background: linear-gradient(0deg, #ffff99 50%, rgba(255, 255, 153, 0.3) 50%);
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}

.javascript:before, .javascript:after {
  color: #ffff99;
}

.javascript:before {
  background: #111 content-box;
  -webkit-transform: rotate(-126deg);
          transform: rotate(-126deg);
  content: "70%";
}

.javascript:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "javascript";
  -webkit-transform: rotate(-126deg) scale(1.1);
          transform: rotate(-126deg) scale(1.1);
}

.angular {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ff2525), color-stop(50%, rgba(255, 37, 37, 0.3)));
  background: linear-gradient(0deg, #ff2525 50%, rgba(255, 37, 37, 0.3) 50%);
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.angular:before, .angular:after {
  color: #ff2525;
}

.angular:before {
  background: #111 content-box;
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
  content: "80%";
}

.angular:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "Angular";
  -webkit-transform: rotate(-144deg) scale(1.1);
          transform: rotate(-144deg) scale(1.1);
}

.vuejs {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #dbff99), color-stop(50%, rgba(219, 255, 153, 0.3)));
  background: linear-gradient(0deg, #dbff99 50%, rgba(219, 255, 153, 0.3) 50%);
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.vuejs:before, .vuejs:after {
  color: #dbff99;
}

.vuejs:before {
  background: #111 content-box;
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
  content: "80%";
}

.vuejs:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "VueJS";
  -webkit-transform: rotate(-144deg) scale(1.1);
          transform: rotate(-144deg) scale(1.1);
}

.git {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ffdb99), color-stop(50%, rgba(255, 219, 153, 0.3)));
  background: linear-gradient(0deg, #ffdb99 50%, rgba(255, 219, 153, 0.3) 50%);
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.git:before, .git:after {
  color: #ffdb99;
}

.git:before {
  background: #111 content-box;
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
  content: "80%";
}

.git:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "Git";
  -webkit-transform: rotate(-144deg) scale(1.1);
          transform: rotate(-144deg) scale(1.1);
}

.react {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, white), color-stop(50%, rgba(255, 255, 255, 0.3)));
  background: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0.3) 50%);
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.react:before, .react:after {
  color: white;
}

.react:before {
  background: #111 content-box;
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
  content: "80%";
}

.react:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "React";
  -webkit-transform: rotate(-144deg) scale(1.1);
          transform: rotate(-144deg) scale(1.1);
}

.java {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 153, 158, 0.411)), color-stop(50%, rgba(255, 153, 158, 0.3)));
  background: linear-gradient(0deg, rgba(255, 153, 158, 0.411) 50%, rgba(255, 153, 158, 0.3) 50%);
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.java:before, .java:after {
  color: rgba(255, 153, 158, 0.411);
}

.java:before {
  background: #111 content-box;
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
  content: "80%";
}

.java:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "Java";
  -webkit-transform: rotate(-144deg) scale(1.1);
          transform: rotate(-144deg) scale(1.1);
}

.phyton {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(153, 255, 225, 0.658)), color-stop(50%, rgba(153, 255, 225, 0.3)));
  background: linear-gradient(0deg, rgba(153, 255, 225, 0.658) 50%, rgba(153, 255, 225, 0.3) 50%);
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.phyton:before, .phyton:after {
  color: rgba(153, 255, 225, 0.658);
}

.phyton:before {
  background: #111 content-box;
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
  content: "80%";
}

.phyton:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "Phyton";
  -webkit-transform: rotate(-144deg) scale(1.1);
          transform: rotate(-144deg) scale(1.1);
}

.mysql {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #fffd99), color-stop(50%, rgba(255, 253, 153, 0.3)));
  background: linear-gradient(0deg, #fffd99 50%, rgba(255, 253, 153, 0.3) 50%);
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.mysql:before, .mysql:after {
  color: #fffd99;
}

.mysql:before {
  background: #111 content-box;
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
  content: "80%";
}

.mysql:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "MySQL";
  -webkit-transform: rotate(-144deg) scale(1.1);
          transform: rotate(-144deg) scale(1.1);
}

.bootstrap1 {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ff1aff), color-stop(50%, rgba(255, 26, 255, 0.3)));
  background: linear-gradient(0deg, #ff1aff 50%, rgba(255, 26, 255, 0.3) 50%);
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.bootstrap1:before, .bootstrap1:after {
  color: #ff1aff;
}

.bootstrap1:before {
  background: #111 content-box;
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
  content: "80%";
}

.bootstrap1:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "Bootstrap";
  -webkit-transform: rotate(-144deg) scale(1.1);
          transform: rotate(-144deg) scale(1.1);
}

.github {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ff1aff), color-stop(50%, rgba(255, 26, 255, 0.3)));
  background: linear-gradient(0deg, #ff1aff 50%, rgba(255, 26, 255, 0.3) 50%);
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.github:before, .github:after {
  color: #ff1aff;
}

.github:before {
  background: #111 content-box;
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
  content: "80%";
}

.github:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  content: "GitHub";
  -webkit-transform: rotate(-144deg) scale(1.1);
          transform: rotate(-144deg) scale(1.1);
}
/*# sourceMappingURL=home.component.css.map */