<section>
<div id="about">
    <section>
        <div></div>
        <div></div>
    </section>
    <div id="about" class="about">
        <div class="about__details">
            <h1 class="about__title">Hi, {{persona.nombre}},  my name is <span class="rainbow rainbow_text_animated">Ramón</span>
                <span class="rainbow rainbow_text_animated">Serrano</span>
            </h1>
            <div class="cont__text"><span class="">I'm a </span><span class="type"><span><span>FullStack
                            Developer</span><span>Web
                            Designer</span><span class="">Freelancer</span><span class="">Petroleum
                            Engineer</span></span></span></div>
            <p class="about__paragraph">I'm Petroleum Engineer and an
                enthusiast FullStack Dev & Programmer.</p><button class="btn-primary btn--color">Curriculum</button>
        </div><img src="https://imagizer.imageshack.com/img922/2070/z2Vvz6.jpg" alt="perfil" class="about__img">
    </div>

</div>
</section>